body{
    color: white;
}
header li a {
    color: white;
}
header li a:hover {
    color: #F8BC1F;
}
nav dl dt:hover {
    color: #F8BC1F;
}
div hr {
    color: #F8BC1F;
}
.estiloBoton {
    color: white;
}